{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<form class="row g-3" method="get" id="form">{%csrf_token%}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" name="username">Username</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label" name="password">Password</label>
      <input type="password" class="form-control" name="password" id="inputPassword4">
    </div>

    <input id="form-button" class="btn btn-success btn-block" type="submit" value="LOGIN ">

  <!-- </form> -->

<div class="cont" style="display: flex; justify-content: center; align-items: center;"><h2>Register</h2></div>
  <div class="form-field"style="width:100%">
    <input required class="form-control" type="text" name="username" placeholder="username..">
</div>
<hr>
<div class="form-field"style="width:100%">
    <input required class="form-control" type="email" name="Email" placeholder="Email..">
</div>
<hr>
<div class="form-field"style="width:100%">
    <input required class="form-control" type="password" name="Password" placeholder="password...">
</div>
<hr>
<div class="form-field"style="width:100%">
    <input required class="form-control" type="password" name="ReType Password" placeholder="Retype password..">
</div>


<hr>
<input id="form-button" class="btn btn-success btn-block" type="submit" value="Sign in">
</form>



  



{% endblock content %}
